{% extends 'base.html.twig' %}

{% block title %}
    {% trans %} new_review {% endtrans %}
{% endblock %}

{% block body %}
    <div class="container">
        <h3>{% trans %} new_review {% endtrans %}</h3>
        <hr>
        {{ include('review/_form.html.twig') }}
    </div>
{% endblock %}
